.bg-blob,
.blob {
    pointer-events: none;
}
main .homePage,
main .pages {
    position: relative;
}
:root {
    --main: #ff7e6e;
    --main-100: #f4b6b5;
    --main-200: #f8758284;
    --main-300: #f4b6b53a;
    --main-400: #f8777a17;

    --main-icon-active: #ffafad;

    --main-dark-grdient-1: #ff6ca250;
    --main-dark-grdient-2: #ff6ca150;
    --main-dark-grdient-3: #ff7e6e50;

    --pink: #ff6ca1;
    --pink-100: #ff7f6e83;
    --pink-200: #ff6ca183;

    --pink-preview-project-btn-1: #ff6ca282;
    --pink-preview-project-btn-2: #ff6ca182;
    --pink-preview-project-btn-3: #ff7e6e82;
    --pink-cv-btn-shadow: #ff7f6ea4;
    --pink-cv-btn-1: #ff7f6ea5;
    --pink-cv-btn-2: #ff6ca1a5;
    --pink-cv-btn-3: #f56398a5;
    --pink-cv-btn-4: #ff7e6ea5;

    --logo-dark-color: #171717;
    --logo-light-color: #E0E0E0;

    --black: #000000;
    --black-100: #171717;
    --black-100-light: #171717eb;
    --black-light: #0000005d;

    --white: #fff;
    --gray: #3b3b3b;
    --gray-100: #535353;
    --gray-200: #8d8d8d;
    --gray-300: #bababa;
    --gray-400: #cccccc;


    --border-light: #282828;

    --selection-background: #ff6ca250;

    --marquee-scroll-start: 0;
    --marquee-scroll-end: calc(-100% - 2rem);


    --pl-width: 210px;
    --pl-height: 100px;
    --pl-space: 10px;
    --pl-block-w: 100px;
    --pl-block-h: 28px;
    --pl-block-radius: 12px;
}
.bg-black,
.cursor .innerCursor.black-cursor {
    background-color: var(--black) !important;
}
.bg-black-100 {
    background-color: var(--black-100) !important;
}
.text-black {
    color: var(--black) !important;
}
.text-gray-100 {
    color: var(--gray-100) !important;
}
.text-gray-200 {
    color: var(--gray-200) !important;
}
.text-gray-300 {
    color: var(--gray-300) !important;
}
.text-gradient-cameleon,
.text-gradient-main {
    color: var(--main);
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
body {
    background-color: var(--black);
    overflow-x: hidden;
    font-family: Unbounded, Dubai, sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
::selection {
    background: var(--selection-background);
}
.prevent-selection,
img {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 126, 110, 0.25) !important;
}
.text-gradient-cameleon {
    background-image: -webkit-linear-gradient(
        135deg,
        var(--main) 26%,
        var(--white) 51%,
        var(--main) 68%
    );
    background-clip: text;
    -webkit-background-clip: text;
}
.text-gradient-main {
    background-image: -webkit-linear-gradient(0deg, var(--main) 0, var(--pink) 100%);
    background-clip: text;
    -webkit-background-clip: text;
}
.bg-success-light {
    background-color: #369b4878 !important;
}
.bg-gradient-cameleon,
.side_bar .nav-contact {
    background: var(--pink);
    background: linear-gradient(90deg, var(--pink) 0, var(--main) 100%);
}
.bg-gradient-cameleon-dark {
    background: var(--main-dark-grdient-1);
    background: linear-gradient(90deg, var(--main-dark-grdient-2) 0, var(--main-dark-grdient-3) 100%);
}
.border-gradient-cameleon {
    background: linear-gradient(#000, #000) padding-box,
        linear-gradient(
                to top left,
                #ff7f6e44 13%,
                #ffffff44 49%,
                #ff6ca144 100%
            )
            border-box;
    border-radius: 50em;
    border: 2px solid transparent;
}
main .homePage::after,
main .homePage::before {
    left: 0;
    border-radius: inherit;
    bottom: 0;
    z-index: -1;
    top: 0;
    right: 0;
    content: "";
}
.fs-8px {
    font-size: 8px !important;
}
.fs-12px,
form label {
    font-size: 12px !important;
}
.experiences .experiences-list ul.responsibilities,
.fs-14px {
    font-size: 14px !important;
}
.fs-20px {
    font-size: 20px !important;
}
.mt-4-5 {
    margin-top: 2.5rem !important;
}
.letter-spacing-1px {
    letter-spacing: 1px !important;
}
.letter-spacing-2px {
    letter-spacing: 2px !important;
}
.cursor-pointer {
    cursor: pointer;
}
.name #name {
    color: var(--gray-400);
    line-height: 0.9;
    width: 75% !important;
    mix-blend-mode: difference;
}
.name p {
    /* animation: 4s infinite alternate name-coloring; */
    color: var(--gray-400);
    border-left: 4px double var(--main-200);
}
@keyframes name-coloring {
    0%,
    100% {
        color: #fff6cf;
    }
    25% {
        color: #faf1c9;
    }
    50% {
        color: #d8dbff;
    }
    75% {
        color: #fad4d4;
    }
}
/* main .main-img .spot-light {
    background-color: #ffffff3f;
    border-radius: 50%;
    filter: blur(46px);
    -webkit-backdrop-filter: blur(46px);
    width: 400px;
    height: 400px;
}
main .main-img .spot-light img {
    filter: none !important;
} */
main .main-img .back-image,
main .main-img .front-image {
    transition: 1s;
}
main .main-img .front-image:hover {
    transition: 1s;
    opacity: 0;
}
main .homePage {
    width: 70px;
    height: 70px;
    background-color: var(--gray-400);
    z-index: 2;
}
main .homePage::before {
    position: absolute;
    background: linear-gradient(-45deg, var(--main) 23%, var(--main-100) 200%);
    transform: translate3d(0, 0, 0) scale(1.12);
    filter: blur(32px);
    animation: 4s infinite blur-shadow;
    transition: 0.5s;
}
main .homePage::after {
    position: absolute;
    background: inherit;
}
@keyframes blur-shadow {
    0%,
    100% {
        opacity: 0.8;
        transition: 1s;
    }
    50% {
        opacity: 0.5;
        transition: 1s;
    }
}
._cstm_wow_fadeInLeft_animate {
    opacity: 0;
    transform: translateX(-30%);
    animation: 1s forwards fadeInLeft;
}
._cstm_wow_fadeInRight_animate {
    opacity: 0;
    transform: translateX(30%);
    animation: 1s forwards fadeInRight;
}
._cstm_wow_fadeInBottom_animate {
    opacity: 0;
    transform: translateX(-30%);
    animation: 1s forwards fadeInBottom;
}
._cstm_wow_fadeInTop_animate {
    opacity: 0;
    transform: translateX(30%);
    animation: 1s forwards fadeInTop;
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-30%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(30%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(-30%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
main .aboutPage,
main .blogPage,
main .contactPage,
main .portfolioPage {
    position: absolute;
    font-size: 0.2rem;
    width: 20px;
    height: 20px;
    background-color: var(--white);
    outline: transparent dashed 2px;
    outline-offset: 4px;
    z-index: 1;
    transition: 0.3s;
}
.btn-main,
main .contactPage {
    color: var(--black);
    background-image: -webkit-linear-gradient(
        45deg,
        var(--main-100) 0,
        var(--white) 43%,
        var(--main-100) 100%
    );
}
main .aboutPage.slide-pages {
    transition: 0.3s;
    transform: translateX(90px);
}
main .portfolioPage.slide-pages {
    transition: 0.4s;
    transform: translateX(210px);
}
main .contactPage.slide-pages {
    transition: 0.5s;
    transform: translateX(330px);
}
main .blogPage.slide-pages {
    transition: 0.6s;
    transform: translateX(450px);
}
.slide-pages {
    width: 100px !important;
    height: 100px !important;
    font-size: 1rem !important;
    transition: 0.3s;
}
main .aboutPage:hover,
main .blogPage:hover,
main .contactPage:hover,
main .portfolioPage:hover {
    background-image: -webkit-linear-gradient(
        45deg,
        var(--main-100) 0,
        var(--white) 43%,
        var(--main-100) 100%
    );
    cursor: pointer;
    transition: 0.3s;
    outline-color: var(--main);
}
section.portfolio {
    margin: 80px auto;
}
section.portfolio .portfolio-switch {
    background: linear-gradient(var(--black), var(--black)) padding-box,
        linear-gradient(to top left, var(--main) 1%, var(--main-100) 100%)
            border-box;
    border: 1.5px solid transparent;
}
section.portfolio .portfolio-switch button {
    min-width: 90px !important;
}
section.portfolio .content .front-card,
section.portfolio .content .front-card .img {
    transition: 3s;
    min-height: 320px !important;
}
section.portfolio .contact-span {
    z-index: 0;
}
section.portfolio .contact-span::after {
    transition: 0.1s ease-in-out;
    content: "";
    position: absolute;
    bottom: 1.5%;
    z-index: -1;
    height: 0.5em;
    width: 102%;
    left: -1%;
    background: linear-gradient(
        65deg,
        var(--pink-100) 0,
        var(--pink-200) 100%,
        #ffd10000 100%
    );
}
section.portfolio .content .front-card .img {
    background-size: cover;
    background-position: top;
}
section.portfolio .content .front-card:hover .img {
    transition: 7s;
    background-position: bottom;
}
section.portfolio .content .front-card i.project-link,
section.portfolio .content .front-card p.project-title {
    transition: 0.1s !important;
}
section.portfolio .content .front-card:hover i.project-link,
section.portfolio .content .front-card:hover p.project-title {
    color: var(--main-100) !important;
    transition: 0.1s;
}
section.portfolio .content .front-card .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    transition: 1s;
}
section.portfolio .content .front-card:hover .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--black-light);
    transition: 1s;
}
section.portfolio .content .back-card .project-description {
    border-left: 3px solid var(--main);
}
.btn-more {
    width: 140px;
    height: 140px;
    transition: 0.3s linear;
    outline: 2px dashed var(--main);
    outline-offset: 4px;
}
.btn-more:hover {
    transform: scale(0.94);
    transition: 0.3s ease-out;
    outline: transparent solid;
    outline-offset: 0px;
}
.cursor .innerCursor,
.cursor .outerCursor {
    transform: translate(-50%, -50%);
    z-index: 99999;
    position: fixed;
    pointer-events: none;
}
.marquee-section,
.social-section,
.teachers-section {
    margin: 130px 0;
}
.marquee-wrapper {
    max-width: 100vw;
}
.marquee {
    transform: rotate(2deg);
}
.marquee-section .marquee:first-child .marquee-group {
    animation: 45s linear infinite scroll-left;
}
.marquee-section .marquee:nth-child(2) .marquee-group {
    animation: 45s linear infinite scroll-right;
}
.marquee-section .marquee:nth-child(3) .marquee-group {
    animation: 41s linear infinite scroll-left;
    opacity: 0.5;
}
.marquee-section .marquee:nth-child(2) .marquee-group p {
    text-shadow: -1px 0 0 var(--white), 1px 0 0 var(--white), 0 -1px 0 var(--white), 0 1px 0 var(--white);
    color: var(--black) !important;
}
.marquee-group {
    flex-shrink: 0;
    min-width: 100%;
}
.marquee-group p {
    font-size: 6.3vw;
}
@keyframes scroll-left {
    from {
        transform: translateX(var(--marquee-scroll-start));
    }
    to {
        transform: translateX(var(--marquee-scroll-end));
    }
}
@keyframes scroll-right {
    from {
        transform: translateX(var(--marquee-scroll-end));
    }
    to {
        transform: translateX(var(--marquee-scroll-start));
    }
}
@media (prefers-reduced-motion: reduce) {
    .marquee-group {
        animation-play-state: paused;
    }
}
.teachers-section h3 {
    width: 65%;
}
.teachers-section .card {
    border-radius: 20px;
    max-width: 540px;
}
.teachers-section .vs-screenshot img {
    opacity: 0.2;
    transform: rotate(5deg);
}
.cursor.show-cursor {
    opacity: 1;
    visibility: visible;
}
.cursor .outerCursor {
    width: 45px;
    height: 45px;
    border: 1px solid var(--white);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transition: transform 50ms, width 0.2s linear, height 0.2s linear;
}
.cursor .innerCursor {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: 51.5%;
    top: 53.5%;
    transition: 20ms;
    background-color: var(--white);
}
.cursor .outerCursor.black-cursor {
    border-color: var(--black) !important;
}
.cursor .med-cursor {
    transition: width 0.5s, height 0.5s;
    width: 75px;
    height: 75px;
}
.cursor .outerCursor.big-white-cursor {
    background-color: var(--white);
    width: 95px;
    height: 95px;
    transition: width 0.3s linear, height 0.3s linear;
}
.cursor .outerCursor.big-white-border-cursor {
    border: 2px solid var(--white);
}
.cursor .innerCursor.preview-btn-cursor {
    width: 70px;
    height: 20px;
    border-radius: 3px;
    color: var(--white);
    background: var(--pink-preview-project-btn-1);
    background: linear-gradient(90deg, var(--pink-preview-project-btn-2) 0, var(--pink-preview-project-btn-3) 100%);
}
.cursor .innerCursor.preview-btn-cursor::after {
    position: absolute;
    content: "Preview";
    font-size: 12px;
    left: 7px;
}
.cursor .innerCursor.none-cursor,
.cursor .outerCursor.none-cursor {
    background-color: rgba(0, 0, 0, 0) !important;
}
.blob1 img.blob-graph {
    animation: 2.5s infinite alternate blobScale2, 6s infinite alternate blobHue;
}
.blob2 img.blob-graph {
    animation: 2.5s infinite alternate blobScale1, 6s infinite alternate blobHue;
}
.blob3 img.blob-graph {
    animation: 3s infinite alternate blobScale2, 6s infinite alternate blobHue;
}
.blob4 img.blob-graph {
    animation: 3s infinite alternate blobScale1, 6s infinite alternate blobHue;
}
@keyframes blobHue {
    to {
        filter: hue-rotate(360deg);
    }
}
@keyframes blobScale1 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}
@keyframes blobScale2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}
.blob {
    position: fixed;
    filter: blur(70px);
    opacity: 0.5;
}
.bg-blob {
    filter: blur(100px);
    opacity: 0.5;
}
.bg-blob img.blob-graph {
    animation: 8s infinite alternate blobScale2, 13s infinite alternate blobHue;
}
.blob2,
.blob4 {
    transition: 5s;
}
.blob1,
.blob3 {
    transition: 3s linear;
}
.contact .card {
    backdrop-filter: blur(50px);
}
.contact .card .other-contact-section {
    border-left: 1px solid var(--gray-200);
}





/* Start Preloader */
.preloader {
    cursor: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background-color: var(--logo-dark-color);
    overflow: hidden;
    transition: all 1s ease-in-out;
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  .preloader-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .preloader .preloader-text {
    position: absolute;
    opacity: 0;
    bottom: -30px;
    font-size: 19px;
    animation: preloader-fade-in .5s forwards;
  }
  .preloader .preloader-inner .logo-html {
    width: var(--pl-width);
    height: var(--pl-height);
  }
  .preloader .preloader-inner .block:not(.block-8, .block-9) {
    background-color: var(--logo-dark-color);
    border-radius: var(--pl-block-radius); /* 70/6 */
    position: absolute;

    /* opacity: 0; */
    animation: preloader-bg-in .5s forwards;
  }
  .preloader .preloader-inner .block-8,
  .preloader .preloader-inner .block-9 {
    border-radius: var(--pl-block-radius); /* 70/6 */
    position: absolute;

    opacity: 0;
    animation: preloader-fade-in .5s forwards;
  }


  .preloader .preloader-inner .logo-html .block-1,
  .preloader .preloader-inner .logo-html .block-2,
  .preloader .preloader-inner .logo-html .block-3,
  .preloader .preloader-inner .logo-html .block-4 {
    animation-delay: 0.6s;
  }
  .preloader .preloader-inner .logo-html .block-5,
  .preloader .preloader-inner .logo-html .block-6 {
    animation-delay: 0.8s;
  }
  .preloader .preloader-inner .logo-html .block-7 {
    animation-delay: 1s;
  }
  .preloader .preloader-inner .logo-html .block-8 {
    animation-delay: 1.4s;
  }
  .preloader .preloader-inner .block-9 {
    animation-delay: 1.4s;
  }
  @keyframes preloader-bg-in {
    from {
      background-color: var(--logo-dark-color);
    }
    to {
        background-color: var(--logo-light-color);
    }
  }
  @keyframes preloader-fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .preloader .preloader-inner .block-1 {
    right: 0;
    height: var(--pl-block-h);
    width: calc(var(--pl-block-w) - var(--pl-block-h) - (var(--pl-space) / 2));
  }
  .preloader .preloader-inner .block-2 {
    right: 0;
    height: var(--pl-block-w); /* 600/6 */
    width: var(--pl-block-h); /* 170/6 */
  }
  .preloader .preloader-inner .block-3 {
    right: 0;
    bottom: 0;
    height: var(--pl-block-h);
    width: var(--pl-block-w);
  }
  .preloader .preloader-inner .block-4 {
    right: calc(var(--pl-block-w) - var(--pl-block-h));
    height: var(--pl-block-w);
    width: var(--pl-block-h);
  }
  .preloader .preloader-inner .block-5 {
    left: calc(var(--pl-block-w) - var(--pl-block-h));
    height: var(--pl-block-w);
    width: var(--pl-block-h);
  }
  .preloader .preloader-inner .block-6 {
    bottom: 0;
    height: var(--pl-block-h);
    width: var(--pl-block-w);
  }
  .preloader .preloader-inner .block-7 {
    left: calc(var(--pl-space) / 2);
    top: var(--pl-block-h);
    height: var(--pl-block-h);
    width: calc(var(--pl-block-w) - var(--pl-block-h) - (var(--pl-space)));
  }
  .preloader .preloader-inner .block-8 {
    right: calc(var(--pl-block-h) + (var(--pl-space) / 2));
    top: calc(var(--pl-block-h) + (var(--pl-space) / 2) + 2px) ;
    height: calc(var(--pl-block-w) - (var(--pl-block-h) + var(--pl-block-h)) - var(--pl-space) - 4px);
    width: calc(var(--pl-block-w) - (var(--pl-block-h) + var(--pl-block-h)) - var(--pl-space));
    background: var(--pink) !important;
    background: linear-gradient(90deg, var(--pink) 0%, var(--main) 100%) !important;
  }
  /* End Preloader */









form label {
    font-weight: 300 !important;
    color: var(--gray-300);
}
.nav-item .nav-link:hover,
form input,
form textarea {
    color: var(--white) !important;
}
form input,
form textarea {
    background-color: #5252522b !important;
    font-weight: 300 !important;
    font-size: 14px;
    letter-spacing: 1px;
}
form input:focus,
form textarea:focus {
    border-color: var(--main-100) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--main-100) !important;
    outline: 0 !important;
    letter-spacing: 1px;
}
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-control ~ label,
.form-floating > .form-select ~ label {
    opacity: 0.8;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.btn-submit {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    transition: 0.3s linear;
}
.side_bar,
.side_bar_mobile {
    position: fixed;
    z-index: 1046 !important;
    -webkit-text-size-adjust: 100%;
    transition-property: all;
    transition-timing-function: ease-in-out;
    bottom: 0;
}
.btn-submit:hover {
    transform: scale(0.94);
    transition: 0.3s ease-out;
}
.mt-4rem {
    margin-top: 4rem !important;
}
@media (min-width: 768px) {
    .about-body,
    .contact-body,
    .modal,
    .portfolio-body,
    .portfolio-section,
    .teachers-section {
        padding-left: 90px;
    }
}
.side_bar {
    top: 0;
    width: 70px;
    background-color: var(--black-100-light);
    left: -70px;
}
.side_bar_mobile {
    left: 0;
    right: 0;
    width: auto;
    border: 1px solid var(--main-400);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #171717f9;
}
.side_bar_nav {
    gap: 1.8rem !important;
}
.side_bar_mobile_nav {
    gap: 0.6rem !important;
}
.side_bar .logo {
    border-bottom: 1px solid var(--gray);
}
.side_bar_nav .side_bar_nav_icon.active {
    background-color: rgba(255, 255, 255, 0.096);
    display: inline-block;
    padding: 10px;
    border-radius: 50px;
    transition: 0.2s ease-in-out;
}
.side_bar_nav .side_bar_nav_icon img {
    background-color: transparent;
}
.side_bar_mobile_nav .side_bar_nav_icon.active img {
    filter: brightness(0) invert(1) sepia(1) saturate(10000%) hue-rotate(290deg);
}
.side_bar_mobile_nav .side_bar_nav_icon.active + div {
    color: var(--main-icon-active) !important;
}
.social-section .account-card {
    border-radius: 20px !important;
    background-color: hsla(0, 100%, 100%, 0.15);
    box-shadow: 0 16px 24px 2px hsla(0, 0%, 0%, 0.14),
        0 6px 30px 5px hsla(0, 0%, 0%, 0.12),
        0 8px 10px -5px hsla(0, 0%, 0%, 0.2);
    transition: 0.3s;
}
.social-section .account-card:hover {
    transform: translateY(-3px) rotate(2deg);
    transition: 0.3s;
}
.social-section .account-card .img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}
.social-section .account-card .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.447);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.divider {
    margin: 200px 0;
}
.divider-mini {
    margin: 120px 0;
}
.skills .card:hover {
    background-color: #1c1c1c !important;
}
.type-effect::after {
    content: "";
    margin-left: 10px;
    border-right: 7px solid var(--main);
    animation: 1s linear infinite blink;
}
@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
.cv .cv-card {
    width: 75%;
    perspective: 1000px;
    transform-style: preserve-3d;
    background-color: transparent;
}
.cv .cv-card-item {
    height: 350px;
    transition: transform 0.4s linear;
    background-color: hsla(0, 0%, 100%, 0.502);
    box-shadow: 0 16px 24px 2px hsla(0, 0%, 20%, 0.14),
        0 6px 30px 5px hsla(0, 0%, 20%, 0.12),
        0 8px 10px -5px hsla(0, 0%, 20%, 0.2);
    background-image: url("../images/cv-card-snow-2.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 12px;
}
.btn-cv,
.btn-cv:hover,
.btn-outline-cv {
    -o-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    moz-transition: all 0.4s ease-in-out;
}
.btn-cv,
.btn-outline-cv:hover {
    box-shadow: 0 4px 15px 0 var(--pink-cv-btn-shadow);
}
.btn-cv,
.btn-outline-cv {
    width: 180px;
    background-size: 300% 100%;
    transition: 0.4s ease-in-out;
}
.btn-cv {
    background-image: linear-gradient(
        to right,
        var(--pink-cv-btn-1),
        var(--pink-cv-btn-2),
        var(--pink-cv-btn-3),
        var(--pink-cv-btn-4)
    );
}
.btn-cv:hover {
    background-position: 100% 0;
    transition: 0.4s ease-in-out;
}
.btn-outline-cv {
    box-shadow: 0 4px 15px 0 var(--pink-100);
}
.btn-outline-cv:hover {
    moz-transition: all 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
.experiences .exp-border {
    border-left: 2px solid;
    border-image: linear-gradient(to bottom, #dee2e6, #dee2e64c, #dee2e621) 1;
}
.modal-header {
    border-bottom-color: var(--border-light) !important;
}
.modal-body::-webkit-scrollbar {
    width: 8px;
}
.modal-body::-webkit-scrollbar-track {
    background: #888;
    border-radius: 50px;
}
.modal-body::-webkit-scrollbar-thumb {
    background: #505050;
    border-radius: 50px;
}
.side_bar .side_bar_nav img,
.side_bar_mobile .side_bar_mobile_nav img {
    max-width: 25px !important;
}
@media (max-width: 226px) {
    .side_bar_mobile .side_bar_mobile_nav .nav-blog {
        display: none !important;
    }
}
@media (max-width: 350px) {
    .side_bar_mobile .side_bar_mobile_nav span {
        font-size: 7px !important;
    }
    .side_bar_mobile .side_bar_mobile_nav img {
        max-width: 22px !important;
    }
    .contact-body .contact .form-section h6 {
        font-size: 12px !important;
    }
    .social-section a .card .img {
        height: 40px !important;
    }
    .about-body h2.brief-desc,
    .main-body h6.brief-desc {
        font-size: 13px !important;
    }
}
@media (max-width: 250px) {
    .name pre + p,
    .teachers-section .card .card-body p:first-of-type {
        font-size: 10px !important;
    }
    section.portfolio {
        margin: 20px auto !important;
    }
    section.portfolio .header h4 {
        font-size: 14px;
    }
    section.portfolio .header div > p {
        font-size: 12px;
        width: 100% !important;
    }
    .portfolio button#back,
    .portfolio button#back2,
    .portfolio button#front,
    .portfolio button#front2,
    .social-section a .card .card-body span,
    .teachers-section .card .card-body p:nth-of-type(2) {
        font-size: 8px !important;
    }
    section.portfolio .content .front-card,
    section.portfolio .content .front-card .img {
        height: 250px !important;
    }
    .btn-more {
        width: 100px !important;
        height: 100px !important;
        margin-top: 20px;
    }
    .marquee-group p {
        font-size: 7.3vw;
    }
    .marquee-section,
    .social-section,
    .teachers-section {
        margin: 60px 0;
    }
    .social-section h3,
    .teachers-section h3 {
        width: 100% !important;
        font-size: 16px !important;
    }
}
@media (min-width: 250px) and (max-width: 412px) {
    section.portfolio .header div > p {
        font-size: 12px;
        width: 100% !important;
    }
    .teachers-section .card .card-body p:first-of-type {
        font-size: 12px !important;
    }
    .teachers-section .card .card-body p:nth-of-type(2) {
        font-size: 10px !important;
    }
    section.portfolio .content .front-card,
    section.portfolio .content .front-card .img {
        height: 270px !important;
    }
}
@media (min-width: 413px) and (max-width: 576px) {
    .name #name {
        font-size: 55px !important;
    }
    section.portfolio .header div > p {
        font-size: 15px;
        width: 75% !important;
    }
    .teachers-section .card .card-body p:first-of-type {
        font-size: 15px !important;
    }
    .teachers-section .card .card-body p:nth-of-type(2) {
        font-size: 13px !important;
    }
    section.portfolio .content .front-card,
    section.portfolio .content .front-card .img {
        height: 350px !important;
    }
}
@media (min-width: 450px) and (max-width: 576px) {
    .name #name {
        font-size: 70px !important;
    }
    .name pre {
        font-size: 12px !important;
    }
    .name pre + p {
        font-size: 13px !important;
    }
    .teachers-section .card {
        max-width: 400px !important;
    }
}
@media (min-width: 251px) and (max-width: 576px) {
    .name #name {
        font-size: 55px;
    }
    .name pre {
        font-size: 10px;
    }
    .name pre + p {
        font-size: 11px;
    }
    section.portfolio .header h4 {
        font-size: 18px;
    }
    .portfolio button#back,
    .portfolio button#back2,
    .portfolio button#front,
    .portfolio button#front2,
    .social-section a .card .card-body span {
        font-size: 10px !important;
    }
    .btn-more {
        width: 120px;
        height: 120px;
        margin-top: 20px;
    }
    .marquee-section,
    .social-section,
    .teachers-section {
        margin: 70px 0;
    }
    .marquee-group p {
        font-size: 9.3vw;
    }
    .social-section h3,
    .teachers-section h3 {
        width: 100% !important;
        font-size: 20px !important;
    }
}
@media (max-width: 576px) {
    form input,
    form textarea,
    section.portfolio .content .back-card .card span:first-of-type,
    section.portfolio .content .back-card .card ul li,
    section.portfolio .content .back-card .project-description {
        font-size: 12px !important;
    }
    form textarea {
        height: 30vh !important;
    }
    .btn-submit {
        width: 90px;
        height: 90px;
    }
    .cv .cv-card-item p:not(:first-of-type) {
        font-size: 12px !important;
        font-weight: 200;
    }
    .cv .cv-card-item .letter-spacing-2px {
        letter-spacing: 1px !important;
    }
    .cv .cv-card-item .cv-download button {
        font-size: 10px !important;
    }
    .skills-list .card img:not(.clickup) {
        width: 35px !important;
        height: 25px !important;
    }
    .skills-list .card img.clickup {
        width: 25px !important;
        height: 25px !important;
    }
    .skills-list .card span {
        font-size: 8px !important;
    }
    .experiences-list .fs-20px {
        font-size: 16px !important;
    }
    .experiences-list .pj-title span,
    .experiences-list ul {
        font-size: 14px;
    }
    section.portfolio .content .back-card .project-title {
        font-size: 14px !important;
    }
}
@media (max-width: 768px) {
    body {
        cursor: auto;
    }
    .contact .card .other-contact-section {
        border-left: none;
    }
    .cv .cv-card {
        width: 100% !important;
    }
    .cv .cv-card-item {
        height: unset;
    }
    .cv .cv-card-item .cv-download {
        border-left: 0 solid transparent !important;
    }
    .about-body h2.brief-desc,
    .main-body h6.brief-desc {
        font-size: 16px;
    }
    .divider {
        margin: 100px 0 !important;
    }
    .divider-mini {
        margin: 80px 0 !important;
    }
    .alert {
        bottom: auto !important;
        top: 10px !important;
        right: 80px !important;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .name #name {
        font-size: 80px !important;
    }
}
